<!DOCTYPE html>
<!-- saved from url=(0146)http://www.17sucai.com/preview/1/2015-04-26/%E5%8F%AE%E5%92%9A%E6%89%8B%E6%9C%BA%E4%B8%8B%E8%BD%BD%E9%A1%B53%E6%A0%BC%E6%BB%9A%E5%8A%A8/index.html -->
<html lang="en" style="overflow: hidden; height: 100%;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>美的乐冷饮app</title>
<meta name="author" content="Administrator">

<link rel="stylesheet" href="/ice/css/download/base.css">
<link rel="stylesheet" href="/ice/css/download/welcome.css">

</head>
<body style="overflow: hidden; height: 100%;">

    <div id="welcome" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; transform: translate3d(0px, 0px, 0px);">
        <div class="section fp-section active" style="height: 599px; background-color: rgb(108, 187, 82);">
           <div class="my_section" style="zoom: 0.846667;">
                <div class="my_codoon fl">
                    <div class="text1_box">
                        <div class="text1 fl">买雪糕、</div><div class="text3 fl">到美的乐</div>
                        <div class="blank0"></div>
                    </div>
                    <p></p><div class="text2">各种口味，品种齐全</div><p></p>
                    <div class="download_box">
                        <div class="left">	
                            <div class="icon erweima"></div>
                        </div>
                        <div class="right">
                            <a href="/ice/app/download" class="item pc_download item_pc">Andriod版下载</a>
                            <a class="item mobile_download mobile_icon" style="display: none;"><img src="/ice/image/now_download.png" alt=""></a>
                        </div>
                        <div class="blank10"></div>
                    </div>
                </div>
          		<div class="iphone fr">
                    <div class="iphone_icon iphone_img fadeInTop">
                      <div id="iphone_slider_wrapper">
                        
                      </div>
                      <img class="iphone_xxoo" src="./咕咚欢迎您_files/iphone_xxoo.png">
                    </div>
                </div>
                <div class="blank0"></div>
           </div>
        </div>
    </div>
    <div class="fixed bottom">
        <div class="bottom_content">
            <a href="">关于我们</a>
            <br>
            <p>Copyright © 2016 Codoon 晋ICP备x号</p>
        </div>
    </div>
</body>
</html>