<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
				http://www.springframework.org/schema/mvc  
     			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
				
    <context:component-scan base-package="com.het.ice" />
    
    <bean id="propertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="location">
	    	<value>classpath:jdbc.properties</value>
	    </property>
	</bean>
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName">
	      	<value>${jdbc.driver}</value>
	    </property>
	    <property name="url">
	      	<value>${jdbc.url}</value>
	    </property>
	    <property name="username">
	      	<value>${jdbc.username}</value>
	    </property>
	    <property name="password">
	      	<value>${jdbc.password}</value>
	    </property>
  	</bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
     	<property name="dataSource" ref="dataSource" />  
     	<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
 	</bean>

    <bean id="messageAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
       <property name="messageConverters">
           <list>
               <!-- Support JSON -->
               <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
           </list>
       </property>
   </bean>
    
    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
     	<property name="mapperInterface" value="com.het.ice.dao.UserDAO"></property>  
     	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
 	</bean>

	<bean id="userAuthCodeDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.UserAuthCodeDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<bean id="userPhoneInfoDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.UserPhoneInfoDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<bean id="userShopInfoDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.UserShopInfoDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<bean id="userOperateTraceDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.UserOperateTraceDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<bean id="appMainImgDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.AppMainImgDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
 	
    <bean id="commodityDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
     	<property name="mapperInterface" value="com.het.ice.dao.CommodityDAO"></property>  
     	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
 	</bean>

	<bean id="commodityPicDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.CommodityPicDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
 	
    <bean id="commodityInDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
     	<property name="mapperInterface" value="com.het.ice.dao.CommodityInDAO"></property>  
     	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
 	</bean>
 	
    <bean id="commodityInItemDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
     	<property name="mapperInterface" value="com.het.ice.dao.CommodityInItemDAO"></property>  
     	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
 	</bean>
    
    <bean id="lobDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
     	<property name="mapperInterface" value="com.het.ice.dao.LobDAO"></property>  
     	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
 	</bean>

	<bean id="allotDisSalDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.AllotDisSalDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<bean id="allotDistrictDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.AllotDistrictDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<bean id="allotSalesmanDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.AllotSalesmanDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<bean id="arithmeticDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.ArithmeticDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<bean id="promotionDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.het.ice.dao.PromotionDAO"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
</beans>