<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.het.ice.dao.BrandDAO">

	<insert id="insert" parameterType="Brand">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into i_brand(name, create_time)
		values(#{name}, CURRENT_TIMESTAMP)
	</insert>

	<delete id="delete" parameterType="long">
		delete from i_brand where id=#{id}
	</delete>

	<update id="update" parameterType="Brand">
		update i_brand set name=#{name}
		where id=#{id}
	</update>

	<select id="getById" parameterType="long" resultMap="brandResultMap">
		select *
		from i_brand where id=#{id}
	</select>

	<select id="getByName" parameterType="String" resultMap="brandResultMap">
		select * from i_brand where name = #{name}
	</select>

	<select id="queryAll" resultMap="brandResultMap">
		select * from i_brand
	</select>

	<resultMap type="Brand" id="brandResultMap">
		<result property="createTime" column="create_time" />
	</resultMap>

</mapper>