<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.het.ice.dao.OrderDAO">

	<insert id="create" parameterType="Order">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into i_order(order_num, user_id, price_total, state, address, phone,
		process, create_time, modify_time, create_user, update_user)
		values(#{orderNum}, #{userId}, #{priceTotal}, #{state}, #{address},
		#{phone}, #{process}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP,
		#{createUser}, #{updateUser})
	</insert>

	<delete id="delete" parameterType="long">
		delete from i_order where
		id=#{id}
	</delete>

	<update id="update" parameterType="Lob">
		update i_order set
		state=#{state}, address=#{address}, phone=#{phone},
		process=#{process}, modify_time=CURRENT_TIMESTAMP,
		update_user=#{updateUser}
		where id=#{id}
	</update>

	<select id="getById" parameterType="long" resultMap="orderResultMap">
		select *
		from
		i_order where id=#{id}
	</select>

	<select id="queryByUserId" parameterType="long" resultMap="orderResultMap">
		select
		* from i_order where user_id = #{userId} order by create_time
		desc
	</select>

	<select id="queryByCondition" parameterType="long" resultMap="orderResultMap">
		select
		* from i_order where user_id = #{userId} order by create_time
		desc
	</select>

	<resultMap type="Order" id="orderResultMap">
	    <result property="orderNum" column="order_num" />
		<result property="userId" column="user_id" />
		<result property="priceTotal" column="price_total" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
		<result property="createUser" column="create_user" />
		<result property="updateUser" column="update_user" />
	</resultMap>

</mapper>