<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.het.ice.dao.OrderDAO">

	<insert id="insert" parameterType="Order">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into i_order(order_num, phone, user_name, price_total, state, address, create_time, modify_time)
		values(#{orderNum}, #{phone}, #{userName}, #{priceTotal}, #{state}, #{address}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>

	<delete id="delete" parameterType="long">
		delete from i_order where
		id=#{id}
	</delete>

	<update id="update" parameterType="Order">
		update i_order set
		state=#{state}, address=#{address},
		modify_time=CURRENT_TIMESTAMP
		where id=#{id}
	</update>

	<select id="getById" parameterType="long" resultMap="orderResultMap">
		select *
		from
		i_order where id=#{id}
	</select>

	<select id="queryByPhone" parameterType="String" resultMap="orderResultMap">
		select
		* from i_order where phone = #{phone} order by create_time
		desc
	</select>

	<select id="queryByCondition" parameterType="com.het.ice.dao.query.OrderQuery" resultMap="orderResultMap">
		select
		* from i_order where 1=1
		<if test="state != null and '' != state ">
			and state = #{state}
		</if>
		order by create_time desc
		limit #{start}, #{limit}
	</select>

	<select id="countByCondition" parameterType="com.het.ice.dao.query.UserQuery" resultType="int">
		select
		count(*) from i_order where 1=1
		<if test="state != null and '' != state ">
			and state = #{state}
		</if>
	</select>

	<resultMap type="Order" id="orderResultMap">
	    <result property="orderNum" column="order_num" />
		<result property="userName" column="user_name" />
		<result property="priceTotal" column="price_total" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
	</resultMap>

</mapper>