<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.het.ice.dao.UserOperateTraceDAO">

	<insert id="insert" parameterType="UserOperateTrace">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into i_user_action_trace (phone, operate, memo, old_info, new_info, create_time)
		values(#{phone}, #{operate}, #{memo}, #{oldInfo}, #{newInfo}, CURRENT_TIMESTAMP)
	</insert>

	<select id="queryByPhone" parameterType="String" resultMap="userOperateTraceResultMap">
		select *
		from i_user_action_trace where phone=#{phone}
	</select>

	<resultMap type="UserOperateTrace" id="userOperateTraceResultMap">
		<result property="oldInfo" column="old_info" />
		<result property="newInfo" column="new_info" />
		<result property="createTime" column="create_time" />
	</resultMap>
</mapper>