<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.het.ice.dao.UserPhoneInfoDAO">

	<insert id="insert" parameterType="UserPhoneInfo">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into i_user_phone_info (user_id, phone, imei, brand, model, version, sdk_version, create_time, modify_time)
		values(#{userId}, #{phone}, #{imei}, #{brand},#{model}, #{version}, #{sdkVersion}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>

	<delete id="delete" parameterType="long">
		delete from i_user_phone_info where
		id=#{id}
	</delete>

	<update id="update" parameterType="User">
		update i_user_phone_info set
		imei=#{imei}, brand=#{brand}, model=#{model}, version=#{version}, sdk_version=#{sdkVersion}, modify_time=CURRENT_TIMESTAMP
		where id=#{id}
	</update>

	<select id="getById" parameterType="long" resultMap="userPhoneInfoResultMap">
		select *
		from i_user_phone_info where id=#{id}
	</select>

	<select id="getByPhone" parameterType="String" resultMap="userPhoneInfoResultMap">
		select *
		from i_user_phone_info where phone=#{phone}
	</select>

	<resultMap type="UserPhoneInfo" id="userPhoneInfoResultMap">
		<result property="userId" column="user_id" />
		<result property="sdkVersion" column="sdk_version" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
	</resultMap>
</mapper>